{% extends "base.html" %}
{% block content %}
    <div class="row no-gutters margin-r-fix">
        <div class="col-md-8">
            <h5 class="main-title text-center">About me</h5>
            <p class="main-content">My name is Drobota Andrei, and I'm thrilled to share a bit about my journey with you.
                In 2017, I proudly graduated from high school, equipped with a strong foundation of knowledge and a passion for learning. Eager to delve deeper into the world of engineering, I embarked on a new chapter of my academic journey.</p>
            <p class="main-content">From 2017 to 2021, I dedicated myself to pursuing a Bachelor's degree in Mechanical Engineering, specializing in HVAC systems. During this transformative period, I immersed myself in the intricacies of mechanical design, thermodynamics, and HVAC technology, gaining valuable insights and skills that would shape my future endeavors.</p>
            <p class="main-content">In 2022, fueled by a desire for new experiences and opportunities, I made the bold decision to relocate to Germany. This move marked the beginning of an exciting chapter filled with cultural immersion and personal growth.</p>
            <p class="main-content">In 2023, I took a significant leap into the world of software development by enrolling in the Diploma in Full Stack Software Developer program at Code Institute. Embracing the challenge with enthusiasm, I eagerly delved into the realms of coding, web development, and software engineering, driven by a relentless pursuit of knowledge and a passion for innovation.</p>
        </div>
        <div class="col-md-4 text-center padding-fix side-about">
            <h5 class="side-title">Education <i class="fa-solid fa-user-graduate"></i></h5>
            <div class="card w-75 mx-auto my-2 bg-card-about">
                <div class="card-body">
                  <h5 class="card-title"><i class="fa-solid fa-circle-check"></i> 2014-2017</h5>
                  <p class="card-text">Mathematics-Informatics. National College "Nicu Gane", Falticeni, Romania</p>
                  <p class="card-text">High School Diploma</p>
                </div>
            </div>
            <div class="card w-75 mx-auto my-2 bg-card-about">
                <div class="card-body">
                  <h5 class="card-title"><i class="fa-solid fa-circle-check"></i> 2017-2021</h5>
                  <p class="card-text">Mechanical Engineering. University of Mechanics, "Gheorghe Asachi", Iasi, Romania</p>
                  <p class="card-text">Bachelor`s Degree, Mechanical Engineer with specialization in HVAC Systems</p>
                </div>
            </div>
            <div class="card w-75 mx-auto my-2 bg-card-about">
                <div class="card-body">
                  <h5 class="card-title"><i class="fa-solid fa-circle-play"></i> 2023-</h5>
                  <p class="card-text">Full Stack Software Developer. Code Institute, Germany</p>
                  <p class="card-text">Diploma Full Stack Software Developer</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}