{% extends "base.html" %}
{% block content %}
    <div class="row no-gutters margin-r-fix">
        <div class="col-md-8">
            <h5 class="main-title text-center">Contact Form</h5>
        </div>
        <div class="col-md-4 text-center padding-fix side-contact">
            <h5 class="side-title">Contact Informations <i class="fa-solid fa-address-book"></i></h5>
            <div class="card w-75 mx-auto my-2 bg-card-contact">
                <div class="card-body">
                  <h5 class="card-title">Email <i class="fa-solid fa-envelope"></i></h5>
                  <p class="card-text">drobotaandrei@gmail.com</p>
                </div>
            </div>
            <div class="card w-75 mx-auto my-2 bg-card-contact">
                <div class="card-body">
                  <h5 class="card-title">Phone number <i class="fa-solid fa-phone"></i></h5>
                  <p class="card-text">+49 172 5806 741</p>
                </div>
            </div>
            <div class="card w-75 mx-auto my-2 bg-card-contact">
                <div class="card-body">
                  <p class="card-text">Or complete the contact form and I will contact you.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}