{% extends "base.html" %}
{% block content %}
    <div class="row no-gutters margin-r-fix">
        <div class="col-md-8 padding-r-fix">
            <h5 class="main-title text-center">Contact Form</h5>
            <form method="POST" class="text-center">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="name" class="form-label">Full Name:</label>
                        <input type="text" class="form-control" id="name" name="fullname" required>
                    </div>    
                    <div class="mb-3">
                        <label for="contactEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="contactEmail" name="contactEmail" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="company" class="form-label">Company name (Optional)</label>
                        <input type="text" class="form-control" id="company" name="company">
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Message</label>
                        <textarea class="form-control" id="content" rows="5" required name="content"></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </form>
        </div>
        <div class="col-md-4 text-center padding-fix side-contact">
            <h5 class="side-title">Contact Informations <i class="fa-solid fa-address-book"></i></h5>
            <div class="card w-75 mx-auto my-2 bg-card-contact">
                <div class="card-body">
                  <h5 class="card-title">Email <i class="fa-solid fa-envelope"></i></h5>
                  <p class="card-text">drobotaandrei@gmail.com</p>
                </div>
            </div>
            <div class="card w-75 mx-auto my-2 bg-card-contact">
                <div class="card-body">
                  <h5 class="card-title">Phone number <i class="fa-solid fa-phone"></i></h5>
                  <p class="card-text">+49 172 5806 741</p>
                </div>
            </div>
            <div class="card w-75 mx-auto my-2 bg-card-contact">
                <div class="card-body">
                  <p class="card-text">Or complete the contact form and I will contact you.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}