{% extends "base.html" %}
{% block content %}
    <div class="row no-gutters margin-r-fix">
        <div class="col-md-8 main-index">
            <h5 class="main-title text-center">Welcome <i class="fa-solid fa-briefcase"></i></h5>
            <p class="main-content">
                Hello! I am currently enrolled in the Diploma in Full Stack Software Developer program at Code Institute, where I am honing my skills and knowledge in the dynamic field of software development. Through this comprehensive program, I am gaining expertise in front-end and back-end technologies, learning to build robust and scalable web applications from scratch.
            </p>
            <p class="main-content">
                Code Institute provides a rigorous curriculum that covers a wide range of programming languages, frameworks, and tools, equipping me with the necessary skills to thrive in the fast-paced world of technology. From HTML, CSS, and JavaScript for front-end development to Python, Flask, and SQL for back-end development, I am mastering the full stack of technologies essential for creating modern web applications.
            </p>
            <p class="main-content">I am passionate about leveraging technology to solve real-world problems and am committed to continuous learning and growth in the field of software development. With the support of Code Institute's expert instructors and hands-on learning approach, I am confident in my ability to excel as a full stack software developer and make meaningful contributions to the tech industry.</p>
        </div>
        <div class="col-md-4 text-center padding-fix side-index">
            <h5 class="side-title">Why consider me? <i class="fa-solid fa-lightbulb"></i></h5>
            <div class="card w-75 mx-auto my-2 bg-card-index">
                <div class="card-body">
                  <h5 class="card-title">Learning abilities <i class="fa-solid fa-chalkboard"></i></h5>
                  <p class="card-text">My curiosity and dedication to continuous growth fuel a relentless pursuit of knowledge. Whether faced with a new subject, skill, or challenge, I approach each opportunity as a chance to expand my expertise.</p>
                </div>
              </div>
              <div class="card w-75 mx-auto my-2 bg-card-index">
                <div class="card-body">
                  <h5 class="card-title">Innovative <i class="fa-solid fa-bolt"></i></h5>
                  <p class="card-text">Even the hardest task can be easy, if you find a clever method to do it. 
                    I am committed to enhancing efficiency by systematically analyzing tasks and implementing strategic solutions.</p>
                </div>
              </div>
              <div class="card w-75 mx-auto my-2 bg-card-index">
                <div class="card-body">
                  <h5 class="card-title">Quality and Quantity Combined<i class="fa-solid fa-star"></i></h5>
                  <p class="card-text"> bring a meticulous approach to tasks, ensuring high standards are met without sacrificing efficiency. My ability to deliver both quality work and meet deadlines effectively makes me a valuable asset to any team or project.</p>
                </div>
              </div>
        </div>
    </div>
{% endblock %}